body {
    height: 100vh;
    margin: 0;
}

button {
    flex: 0 1 auto;
    height: 50px;
    margin-left: auto;
}

.colored {
    background-color: purple;
}

#container {
    border: 1px solid #e5e5e5;
    display: grid;
}

h1 {
    font-family: 'Kaushan Script', cursive;
}

header {
    align-items: center;
    display: flex;
}

#outer-container {
    margin: 0 auto;
}
